<div class="flex h-screen overflow-hidden">
  <!-- Barre latérale -->
  <aside class="w-1/6 bg-gray-900 text-white flex flex-col items-center p-4">
    <ul class="w-full">
      <li class="w-full mb-4">
        <a href="<%= root_path %>" class="block text-lg py-2 px-4 bg-gray-800 rounded-lg hover:bg-gray-700 text-center">
          Accueil
        </a>
      </li>
    </ul>
  </aside>

  <!-- Contenu principal avec overflow-y-auto pour permettre le défilement vertical -->
  <main class="w-5/6 bg-gray-800 p-8 overflow-y-auto">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold text-white">Threads</h2>
      <%= form_with url: chat_rooms_path, method: :get, class: "flex space-x-2" do %>
        <input type="text" name="search" class="input-text bg-gray-700 text-white px-4 py-2 rounded-lg" placeholder="Rechercher une salle" />
        <%= submit_tag "Rechercher", class: "bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-lg" %>
      <% end %>
    </div>

    <!-- Grille des salles de discussion -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <% @chat_rooms.each do |chat_room| %>
        <div class="card bg-gray-700 rounded-lg shadow-md p-4 text-white">
          <% if chat_room.image.attached? %>
            <%= image_tag chat_room.image, class: "w-full h-32 object-cover rounded-lg mb-4" %>
          <% else %>
            <div class="w-full h-32 bg-gray-600 rounded-lg mb-4"></div>
          <% end %>

          <h3 class="text-lg font-bold"><%= chat_room.name %></h3>
          <p class="text-sm text-gray-300"><%= truncate(chat_room.description, length: 100) %></p>

          <div class="mt-4">
            <% if chat_room.password.present? %>
              <%= link_to "Rejoindre (protégé)", join_chat_room_path(chat_room), method: :post, class: "block w-full text-center bg-yellow-500 hover:bg-yellow-400 text-white py-2 rounded-lg" %>
            <% else %>
              <%= link_to "Rejoindre", join_chat_room_path(chat_room), method: :post, class: "block w-full text-center bg-blue-600 hover:bg-blue-500 text-white py-2 rounded-lg" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Bouton de création de nouvelle salle -->
    <div class="mt-8 flex justify-center">
      <%= link_to "Créer une nouvelle salle", new_chat_room_path, class: "bg-grey-900 hover:bg-blue-500 text-white px-4 py-2 rounded-lg" %>
    </div>
  </main>
</div>
